<!-- Header -->
<%- include('layautsDashboard/header') %>

<body class="main-body leftmenu body-ingreso">

  <%- include('layautsDashboard/loader') %>

  <!-- Page -->
  <div class="page">

    <!-- Menu -->
    <%- include('layautsDashboard/menu') %>

    <!-- Cabecera -->
    <%- include('layautsDashboard/head') %>

    <!-- Main Content-->
    <div class="main-content side-content pt-0">

      <div class="container-fluid">
        <div class="inner-body">

          <!-- Page Header -->
          <div class="page-header">
            <div>
              <h2 class="main-content-title tx-24 mg-b-5"><%- titulo %></h2>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard/inicio">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%- breadcrumb %></li>
              </ol>
            </div>
          </div>
          <!-- End Page Header -->

          <!-- =============================
							Inicio Componentes Pagina
						============================== -->

          <!-- Row -->
          <div class="row row-sm">
            <div class="col-sm-12 col-md-12 col-xl-12">
              <div class="card custom-card">
                <div class="card-body text-center">
                  <div class="icon-service bg-info-transparent rounded-circle text-info">
                    <i class="fe fe-airplay"></i>
                  </div>
                  <p class="mb-1 text-muted">Cuentas Juegos<br>Pendientes</p>
                  <h3 class="mb-0"><%= cuentasJuegos %></h3>
                </div>
              </div>
            </div>

          </div>
          <!-- End Row -->

          <!-- Row -->
          <div class="row row-sm">
            <div class="col-lg-12">
              <div class="card custom-card">
                <div class="card-body">
                  <div>
                    <h6 class="main-content-label mb-1">Total cuentas juegos</h6>
                    <p class="text-muted card-sub-title">A continuación encontrara un reporte detallado de todas las cuentas de tipo juegos solicitadas en la red de este superdistribuidor.</p>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-bordered text-nowrap w-100 key-buttons" id="tablageneralsinfiltro">
                      <thead>
                        <tr>
                          <th>Distribuidor</th>
                          <th>Vendedor</th>
                          <th>Perfil vendedor</th>
                          <th>Logo</th>
                          <th>Plataforma</th>
                          <th>Tipo plataforma</th>
                          <th>Estado</th>
                          <th>Usuario facebook</th>
                          <th>Password facebook</th>
                          <th>ID Usuario Juego</th>
                          <th>Comprobante</th>
                          <th>Fecha Compra</th>
                          <th>Fecha Solcitud</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% moment.locale('es'); %>
                        <% if(cuentas.length) { %>
                        <% cuentas.forEach(listaCuentas => { %>
                        <% if(!(listaCuentas.usuario == null || listaCuentas.plataforma == null)) {%>
                        <% const distribuidor = usuarios.filter(function(element){ %>
                        <% return element.id_usuario == listaCuentas.idDistribuidor; %>
                        <% }); %>
                        <% const nombre = distribuidor[0].nombre; %>
                        <tr>
                          <td class="text-left text-capitalize"><%= nombre %></td>
                          <td class="text-left text-capitalize"><%= listaCuentas.usuario.nombre %></td>
                          <td class="text-left text-capitalize text-primary font-weight-bold"><%= listaCuentas.usuario.perfil %></td>
                          <td class="text-center">
                            <img src="<%= listaCuentas.plataforma.logo === null ? '/assetsDashboard/img/users/default.jpg' : listaCuentas.plataforma.logo %>" alt="" class="img-circle">
                          </td>
                          <td class="text-capitalize"><%= listaCuentas.plataforma.plataforma %></td>
                          <td class="text-capitalize text-center">
                            <span class="badge <%= listaCuentas.plataforma.tipo_plataforma === 1 ? 'badge-primary' : listaCuentas.plataforma.tipo_plataforma === 2 ? 'badge-secondary' : listaCuentas.plataforma.tipo_plataforma === 3 ? 'badge-danger' : listaCuentas.plataforma.tipo_plataforma === 4 ? 'badge-info' : listaCuentas.plataforma.tipo_plataforma === 5 ? 'badge-warning' : 'badge-light' %>">
                              <%= listaCuentas.plataforma.tipo_plataforma === 1 ? 'Normal' : listaCuentas.plataforma.tipo_plataforma === 2 ? 'Bajo Pedido' : listaCuentas.plataforma.tipo_plataforma === 3 ? 'Personalizada' : listaCuentas.plataforma.tipo_plataforma === 4 ? 'Renovaciones' : listaCuentas.plataforma.tipo_plataforma === 5 ? 'Juegos' : 'N/A' %>
                            </span>
                          </td>
                          <td class="text-capitalize text-center">
                            <span class="text-muted"><i class="far <%= listaCuentas.estado === 1 ? 'fa-check-circle text-success' : 'fa-minus-square text-warning' %> mr-1"></i><%= listaCuentas.estado === 1 ? 'Gestionada' : 'Sin Gestionar' %></span>
                          </td>
                          <td class="text-left"><%= listaCuentas.user === null ? 'No aplica' : listaCuentas.user %></td>
                          <td class="text-left"><%= listaCuentas.password === null ? 'No aplica' : listaCuentas.password %></td>
                          <td class="text-left"><%= listaCuentas.idJuego === null ? 'No aplica' : listaCuentas.idJuego %></td>
                          <td class="text-left">
                            <a data-effect="effect-flip-horizontal" data-toggle="modal" href="#modalComprobante" onclick="modalComprobante(event, '<%= listaCuentas.comprobanteJuego %>')"><%- listaCuentas.comprobanteJuego %></a>
                          </td>
                          <td class="text-center <%= listaCuentas.fechaCompra === null ? 'text-warning' : '' %>"><%= listaCuentas.fechaCompra === null ? 'Sin fecha de compra' : moment(listaCuentas.fechaCompra).format('MMMM Do YYYY, h:mm:ss a') %></td>
                          <td class="text-center"><%= moment(listaCuentas.fechaSubida).format('MMMM Do YYYY, h:mm:ss a') %></td>
                          <td class="text-capitalize">
                            <div class="btn btn-list">
                              <a class="btn ripple btn-primary modal-effect" title="Renovar" data-effect="effect-flip-horizontal" data-toggle="modal" href="#modalGestionar" onclick="modalGestionar(event, '<%= listaCuentas.idCuenta %>')"><i class="fe fe-upload"></i></a>

                              <a class="btn ripple btn-danger modal-effect" title="Eliminar" data-effect="effect-flip-horizontal" data-toggle="modal" href="#modalEliminar" onclick="modalEliminar(event, '<%= listaCuentas.idCuenta %>')"><i class="far fa-trash-alt"></i></a>
                            </div>
                          </td>
                        </tr>
                        <% } %>
                        <% }) %>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Row -->

          <!-- =============================
							Fin Componentes Pagina
						============================== -->

        </div>
      </div>
    </div>
    <!-- End Main Content-->

    <!-- Foot -->
    <%- include('layautsDashboard/foot') %>

    <!-- Notificiaciones -->
    

  </div>
  <!-- End Page -->

  <!-- Modal Comprobante -->
  <div class="modal" id="modalComprobante">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title">Ver comprobante</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <img src="" alt="Comprobante" id="imgComprobante">
        </div>
        <div class="modal-footer">
          <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Subir -->
  <div class="modal" id="modalGestionar">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content modal-content-demo" style="border-radius: 10px;">
        <div class="modal-header">
          <h6 class="modal-title">Procesar cuenta</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body background-primary">

          <h3 class="text-center text-uppercase" id="nombrePlataforma"></h3>

          <center>
            <div class="picture img-descripcion border-img online text-center my-4">
              <img alt="avatar" class="rounded-circle" id="logoSubir" src="">
            </div>
          </center>

          <input type="hidden" id="idSubir" value="">

          <div class="form-group" id="divUsuarioSubir">
            <div class="row row-sm">
              <label class="form-label">Usuario Facebook</label>
              <input type="text" class="form-control" placeholder="Usuario cuenta" value="" id="usuarioSubir">
            </div>
          </div>
          <div class="form-group" id="divPasswordSubir">
            <div class="row row-sm">
              <label class="form-label">Contraseña Facebook</label>
              <input type="text" class="form-control" placeholder="Contraseña cuenta" value="" id="passwordSubir">
            </div>
          </div>
          <div class="form-group" id="divIdJuegoSubir">
            <div class="row row-sm">
              <label class="form-label">ID Juego</label>
              <input type="text" class="form-control" placeholder="ID Juego" value="" id="idJuegoSubir">
            </div>
          </div>

          <div class="form-group ">
            <div class="row row-sm">
              <label class="form-label">Comprobante Carga</label>
              <div class="input-group file-browser px-0">
                <input type="text" class="form-control border-right-0 browse-file" placeholder="Subir comprobante" readonly>
                <label class="input-group-btn">
                  <span class="btn btn-primary">
                    Seleccionar <input type="file" name="files" id="comprobante" style="display: none;">
                  </span>
                </label>
              </div>
            </div>
          </div>

          <div class="alert alert-danger mg-b-0 display-none" role="alert" id="alertaSubir">
            Hola
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn ripple btn-primary" type="button" onclick="subirCuenta(event)">Procesar cuenta</button>
          <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Eliminar -->

  <div class="modal" id="modalEliminar">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content tx-size-sm">
        <div class="modal-body tx-center pd-y-20 pd-x-20">
          <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
          <i class="icon icon ion-ios-close-circle-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
          <h4 class="tx-danger mg-b-20">¡Hola!</h4>
          <p class="mg-b-2 mg-x-20 mb-4">¿Esta seguro de eliminar esta cuenta de juego?</p>
          <input type="hidden" value="" id="idEliminar">
          <button aria-label="Close" class="btn ripple btn-danger pd-x-25" data-dismiss="modal" type="button" onclick="eliminarCuenta(event)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Footer -->
  <%- include('layautsDashboard/footer') %>


  <!-- Scripts Personalizados -->

  <% if(locals.mensajes) { %>
  <% const validacionErrores = Object.keys(locals.mensajes) %>
  <% if(validacionErrores.length) { %>

  <% locals.mensajes[validacionErrores].forEach(alerta => { %>

  <% if(validacionErrores == 'error') { %>
  <% title = 'Lo Sentimos!' %>
  <% } else if (validacionErrores == 'success') { %>
  <% title = 'Perfecto!' %>
  <% } %>

  <script>
    swal({
      title: "<%= title %>",
      text: "<%= alerta %>",
      type: "<%= validacionErrores %>",
      confirmButtonColor: '#57a94f'
    })
  </script>

  <% }); %>

  <% } %>
  <% } %>

  <script>
    function modalComprobante(e, img) {

      const imgComprobante = document.getElementById('imgComprobante');
      imgComprobante.src = img;

    }

    function modalGestionar(e, id) {

      $('#global-loader').addClass("d-block");
      $('#global-loader').removeClass("d-none");
      fetch('/adminCuentasJuegos/infoCuenta', {
          method: 'POST',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify({
            id: id
          })
        })
        .then(res => res.text())
        .then(data => {

          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          const respuesta = JSON.parse(data);

          const logoSubir = document.getElementById("logoSubir");
          logoSubir.src = respuesta.cuentas.plataforma.logo;

          const nombrePlataforma = document.getElementById("nombrePlataforma");
          nombrePlataforma.innerHTML = respuesta.cuentas.plataforma.plataforma;

          const idSubir = document.getElementById("idSubir");
          idSubir.value = respuesta.cuentas.idCuenta;

          const usuarioSubir = document.getElementById("usuarioSubir");
          usuarioSubir.value = respuesta.cuentas.user;

          const passwordSubir = document.getElementById("passwordSubir");
          passwordSubir.value = respuesta.cuentas.password;

          const idJuegoSubir = document.getElementById("idJuegoSubir");
          idJuegoSubir.value = respuesta.cuentas.idJuego;

          const divUsuarioSubir = document.getElementById('divUsuarioSubir');
          const divPasswordSubir = document.getElementById('divPasswordSubir');
          const divIdJuegoSubir = document.getElementById('divIdJuegoSubir');

          if (respuesta.cuentas.plataforma.plataforma.toLowerCase().includes('free fire')) {
            divUsuarioSubir.classList.add('display-none');
            divPasswordSubir.classList.add('display-none');
            divIdJuegoSubir.classList.remove('display-none');
          } else if (respuesta.cuentas.plataforma.plataforma.toLowerCase().includes('call of duty')) {
            divIdJuegoSubir.classList.add('display-none');
            divUsuarioSubir.classList.remove('display-none');
            divPasswordSubir.classList.remove('display-none');
          }

        }).catch(() => {
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          swal({
            title: 'Request Error',
            text: '500 - Admin Cuentas juegos',
            type: 'error'
          });
        })

    }

    function subirCuenta(e) {

      const idSubir = document.getElementById("idSubir").value.trim();
      const usuarioSubir = document.getElementById("usuarioSubir").value.trim();
      const passwordSubir = document.getElementById("passwordSubir").value.trim();
      const idJuegoSubir = document.getElementById("idJuegoSubir").value.trim();
      const comprobante = document.getElementById('comprobante');

      const datos = new FormData();
      datos.append('id', idSubir);
      datos.append('usuario', usuarioSubir);
      datos.append('password', passwordSubir);
      datos.append('idJuego', idJuegoSubir);
      datos.append('comprobante', comprobante.files[0]);
      console.log(datos);
      $('#global-loader').addClass("d-block");
      $('#global-loader').removeClass("d-none");
      fetch('/adminCuentasJuegos/subirDatosJuego', {
          method: 'POST',
          body: datos
        })
        .then(res => res.text())
        .then(data => {
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          const respuesta = JSON.parse(data);
          if (respuesta.resp === 'success') {

            swal({
                title: respuesta.titulo,
                text: respuesta.descripcion,
                type: respuesta.resp,
                confirmButtonColor: '#57a94f',
                closeOnClickOutside: false
              },
              function(isConfirm) {
                if (isConfirm) {
                  location.reload();
                }
              });

          } else {

            $('#alertaSubir').fadeIn();
            const error = '<button aria-label="Close" class="close" data-dismiss="alert" type="button"> <span aria-hidden="true" class="text-danger">×</span> </button> <strong>Oh no!</strong> ' + respuesta.descripcion + '.';
            $('#alertaSubir').html(error);
            $('#alertaSubir').delay(15000).fadeOut();
          }
        }).catch(() => {
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          swal({
            title: 'Request Error',
            text: '500 - Admin Cuentas juegos',
            type: 'error'
          });
        })

    }

    function modalEliminar(e, id) {

      const idEliminar = document.getElementById("idEliminar");
      idEliminar.value = id;

    }

    function eliminarCuenta(e) {

      const id = document.getElementById("idEliminar").value;

      $('#global-loader').addClass("d-block");
      $('#global-loader').removeClass("d-none");
      fetch('/adminCuentasJuegos/eliminarCuentaJuego', {
          method: 'POST',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify({
            id: id
          })
        })
        .then(res => res.text())
        .then(data => {
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          const respuesta = JSON.parse(data);
          if (respuesta.resp === 'success') {

            swal({
                title: respuesta.titulo,
                text: respuesta.descripcion,
                type: respuesta.resp,
                confirmButtonColor: '#57a94f',
                closeOnClickOutside: false
              },
              function(isConfirm) {
                if (isConfirm) {
                  location.reload();
                }
              });

          } else {

            swal({
              title: respuesta.titulo,
              text: respuesta.descripcion,
              type: respuesta.resp,
              confirmButtonColor: '#fd6074'
            })

          }
        }).catch(() => {
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          swal({
            title: 'Request Error',
            text: '500 - Admin Cuentas juegos',
            type: 'error'
          });
        })

    }
  </script>