<!-- Header -->
<%- include('layautsDashboard/header') %>

<body class="main-body leftmenu body-ingreso">

  <%- include('layautsDashboard/loader') %>

  <!-- Page -->
  <div class="page">

    <!-- Menu -->
    <%- include('layautsDashboard/menu') %>

    <!-- Cabecera -->
    <%- include('layautsDashboard/head') %>

    <!-- Main Content-->
    <div class="main-content side-content pt-0">

      <div class="container-fluid">
        <div class="inner-body">

          <!-- Page Header -->
          <div class="page-header">
            <div>
              <h2 class="main-content-title tx-24 mg-b-5"><%- titulo %></h2>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard/inicio">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%- breadcrumb %></li>
              </ol>
            </div>
          </div>
          <!-- End Page Header -->

          <!-- =============================
							Inicio Componentes Pagina
						============================== -->

          <!-- Row -->
          <div class="row row-sm">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="card custom-card">
                <div class="card-body">
                  <div class="card-order-success">
                    <label class="main-content-label mb-3 pt-1">Consignaciones pendientes</label>
                    <h2 class="text-right card-item-icon card-icon">
                      <i class="far fa-money-bill-alt icon-size float-left text-success"></i>
                      <span class="font-weight-bold"><%= countConsignaciones %></span>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <a data-effect="effect-flip-horizontal" data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#modalReporte">
                <div class="card custom-card background-secondary">
                  <div class="card-body">
                    <div class="card-order ">
                      <label class="main-content-label mb-3 pt-1 text-white">Generar</label>
                      <h2 class="text-right card-item-icon card-icon">
                        <i class="fe fe-download icon-size float-left text-primary"></i><span class="font-weight-bold">Reporte Consignaciones</span>
                      </h2>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- End Row -->

          <!-- Row -->
          <div class="row row-sm">
            <div class="col-lg-12">
              <div class="card custom-card">
                <div class="card-body">
                  <div>
                    <h6 class="main-content-label mb-1">Tabla consignaciones</h6>
                    <p class="text-muted card-sub-title">A continuación encontrara un reporte detallado de todas las consignaciones que se han solicitado en su red en la plataforma.</p>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-bordered text-nowrap w-100 key-buttons" id="exportexample_date">
                      <thead>
                        <tr>
                          <th>Usuario</th>
                          <th>Fecha Reporte</th>
                          <th>Banco (Tipo Consignación)</th>
                          <th>Celular</th>
                          <th>Valor</th>
                          <th>Referencia</th>
                          <th>Estado</th>
                          <th>Comprobante</th>
                          <th>Fecha Consignación</th>
                          <th>Observaciones</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(consignaciones.length) { %>
                        <% consignaciones.forEach(listaConsignaciones => { %>
                        <% if(!(listaConsignaciones.usuario === null)) { %>
                        <tr>
                          <td class="text-left text-capitalize">
                            <%= listaConsignaciones.usuario.nombre %>
                          </td>
                          <td class="text-center">
                            <%= moment(listaConsignaciones.fecha).format('DD:MM:YYYY HH:MM:SS') %>
                          </td>
                          <td class="text-left text-capitalize">
                            <%- listaConsignaciones.tipoConsignacion %>
                          </td>
                          <td class="text-left text-capitalize">
                            <%- listaConsignaciones.celularConsignacion %>
                          </td>
                          <td class="text-left text-capitalize">
                            <% if(usuario.pais === 'Colombia') { %>
                            <% var saldoFormateado = new Intl.NumberFormat("es-CO", {style: "currency", currency: "COP", maximumSignificantDigits: 7}).format(listaConsignaciones.valor); %>
                            <% } else { %>
                            <% var saldoFormateado = new Intl.NumberFormat("en-US", {style: "currency", currency: "USD"}).format(listaConsignaciones.valor); %>
                            <% } %>
                            <%- saldoFormateado %>
                          </td>
                          <td class="text-left text-uppercase">
                            <%- listaConsignaciones.referencia %>
                          </td>
                          <td class="text-capitalize text-center">
                            <span class="text-muted"><i class="far <%= listaConsignaciones.estado === 1 ? 'fa-check-circle text-success' : listaConsignaciones.estado === 2 ? 'fa-times-circle text-danger' : 'fa-circle text-warning' %> mr-1"></i><%= listaConsignaciones.estado === 1 ? 'Aprobada' : listaConsignaciones.estado === 2 ? 'Rechazada' : 'En revisión' %></span>
                          </td>
                          <td class="text-left">
                            <a data-effect="effect-flip-horizontal" data-toggle="modal" href="#modalComprobante" onclick="modalComprobante(event, '<%= listaConsignaciones.comprobante %>')"><%- listaConsignaciones.comprobante %></a>
                          </td>
                          <td class="text-center">
                            <%= listaConsignaciones.fechaHoraConsignacion === null ? 'Sin fecha' : listaConsignaciones.fechaHoraConsignacion.toLocaleString('es-CO');%>
                          </td>
                          <td class="text-left">
                            <%- listaConsignaciones.observaciones === null ? '<span class="text-muted">Sin observaciones</span>' : listaConsignaciones.observaciones %>
                          </td>
                          <td class="text-capitalize">
                            <div class="btn btn-list">
                              <button class="btn ripple btn-success modal-effect" title="Aprobar" data-effect="effect-flip-horizontal" data-toggle="modal" href="#modalAprobar" onclick="modalAprobar(event, '<%= listaConsignaciones.idConsignacion %>')"><i class="fas fa-check-circle"></i></button>
                              <a class="btn ripple btn-danger modal-effect" title="Rechazar" data-effect="effect-flip-horizontal" data-toggle="modal" href="#modalRechazar" onclick="modalRechazar(event, '<%= listaConsignaciones.idConsignacion %>')"><i class="fas fa-times-circle"></i></a>
                            </div>
                          </td>
                        </tr>
                        <% } %>
                        <% }) %>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Row -->

          <!-- =============================
							Fin Componentes Pagina
						============================== -->

        </div>
      </div>
    </div>
    <!-- End Main Content-->

    <!-- Foot -->
    <%- include('layautsDashboard/foot') %>

    <!-- Notificiaciones -->
    

  </div>
  <!-- End Page -->

  <!-- Modal Reporte -->
  <div class="modal" id="modalReporte" style="z-index: 1999 !important;">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title">Generar reporte consignaciones</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="row row-sm">
            <label class="form-label">Seleccionar Usuario</label>
            <select class="form-control select2" name="usuarios" id="usuarios">
              <option value="0">
                Todos
              </option>
              <% usuarios.forEach(usuario => { %>
              <option value="<%= usuario.id_usuario %>">
                <%= usuario.nombre %>
              </option>
              <% }) %>

            </select>
          </div>
          <div class="row row-sm mt-2">
            <label class="form-label">Seleccione un rango de fecha</label>
            <div class="input-group p-0">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fe fe-calendar  lh--9 op-6"></i>
                </div>
              </div>
              <input type="text" class="form-control pull-right" id="reservation">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a class="btn ripple btn-success display-none" href="" download="" id="btnDescargar" onclick="archivoDescargado(event)"><i class="fas fa-file-excel"></i> Descargar Reporte</a>
          <button class="btn ripple btn-primary" type="button" onclick="generarReporte(event)">Generar Reporte</button>
          <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Aprobar -->
  <div class="modal" id="modalAprobar">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title">Aprobar consignación</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="form-group p-2">
            <div class="row row-sm">
              <label class="form-label">Ingrese su nombre<br>
                <span>(Responsable de aprobar la consignación)</span></label>
              <input type="text" class="form-control" placeholder="Nombre responsable" value="" id="responsableAprobacion" name="responsableAprobacion">
              <input type="hidden" name="" id="idUsuarioAprobacion" value="">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn ripple btn-primary" type="button" onclick="aprobarConsignacion(event)">Aprobar Consignación</button>
          <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Rechazar -->
  <div class="modal" id="modalRechazar">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title">Rechazar consignación</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form action="POST" enctype="multipart/form-data">
            <p class="mt-2 mb-3 p-0">Describa por favor el motivo del rechazo.</p>
            <div class="form-group p-2">
              <div class="row row-sm">
                <label class="form-label">Motivo</label>
                <textarea class="form-control" placeholder="Motivo rechazo" value="" id="motivo" name="motivo" rows="8"></textarea>
                <input type="hidden" name="" id="idUsuario" value="">
              </div>
            </div>
            <label class="form-label">Ingrese su nombre<br>
              <span>(Responsable de rechazar la consignación)</span></label>
            <input type="text" class="form-control" placeholder="Nombre responsable" value="" id="responsableRechazo" name="responsableRechazo">
          </form>
          <div class="alert alert-danger mg-b-0 display-none" role="alert" id="alertaRechazar">
            Hola
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn ripple btn-primary" type="button" onclick="rechazarConsignacion(event)">Rechazar Consignación</button>
          <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Comprobante -->
  <div class="modal" id="modalComprobante">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title">Ver comprobante</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <img src="" alt="Comprobante" id="imgComprobante">
        </div>
        <div class="modal-footer">
          <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <%- include('layautsDashboard/footer') %>


  <!-- Scripts Personalizados -->

  <% if(locals.mensajes) { %>
  <% const validacionErrores = Object.keys(locals.mensajes) %>
  <% if(validacionErrores.length) { %>

  <% locals.mensajes[validacionErrores].forEach(alerta => { %>

  <% if(validacionErrores == 'error') { %>
  <% title = 'Lo Sentimos!' %>
  <% } else if (validacionErrores == 'success') { %>
  <% title = 'Perfecto!' %>
  <% } %>

  <script>
    swal({
      title: "<%= title %>",
      text: "<%= alerta %>",
      type: "<%= validacionErrores %>",
      confirmButtonColor: '#57a94f'
    })
  </script>

  <% }); %>

  <% } %>
  <% } %>


  <script>
    function modalComprobante(e, img) {

      const imgComprobante = document.getElementById('imgComprobante');

      imgComprobante.src = img;

    }

    function modalAprobar(e, i) {

      const id = document.getElementById('idUsuarioAprobacion');
      id.value = i;

    }

    function archivoDescargado(e) {
      const btnDescargar = document.getElementById('btnDescargar');
      setTimeout(() => {
        fetch('/adminConsignaciones/eliminarArchivo', {
          method: 'POST',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify({
            data: btnDescargar.dataset.file,
          })
        })

        btnDescargar.dataset.file = '';
        btnDescargar.setAttribute("download", "");
        btnDescargar.classList.add('display-none');

      }, 3000);
    }

    function generarReporte(e) {

      $('#global-loader').addClass("d-block");
      $('#global-loader').removeClass("d-none");
      const fechas = document.getElementById('reservation').value;
      console.log(fechas);
      const user = document.getElementById('usuarios').value;
      const btnDescargar = document.getElementById('btnDescargar');

      fetch('/adminConsignaciones/reporteConsignaciones', {
          method: 'POST',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify({
            user: user,
            fecha: fechas
          })
        })
        .then(res => res.text())
        .then(data => {
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          const respuesta = JSON.parse(data);
          if (respuesta.resp === 'success') {
            btnDescargar.setAttribute('data-file', respuesta.url);
            btnDescargar.href = respuesta.url;
            btnDescargar.setAttribute("download", respuesta.url);
            btnDescargar.classList.remove('display-none');

          } else {
            btnDescargar.setAttribute('data-file', respuesta.url);
            btnDescargar.href = '';
            btnDescargar.setAttribute("download", "");
            btnDescargar.classList.add('display-none');

            $('#alertaDescarga').fadeIn();
            const error = '<button aria-label="Close" class="close" data-dismiss="alert" type="button"> <span aria-hidden="true" class="text-danger">×</span> </button> <strong>Oh no!</strong> Error realizar la descarga del archivo.';
            $('#alertaDescarga').html(error);
            $('#alertaDescarga').delay(2000).fadeOut();
          }
        }).catch(() => {
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          swal({
            title: 'Request Error',
            text: '500 - Admin Consignaciones',
            type: 'error'
          });
        })

    }

    function aprobarConsignacion(e) {

      $('#global-loader').addClass("d-block");
      $('#global-loader').removeClass("d-none");
      const i = document.getElementById('idUsuarioAprobacion').value;
      const responsable = document.getElementById('responsableAprobacion').value;

      fetch('/adminConsignaciones/aprobarConsignacion', {
          method: 'POST',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify({
            id: i,
            responsable: responsable
          })
        })
        .then(res => res.text())
        .then(data => {
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          const respuesta = JSON.parse(data);
          if (respuesta.resp === 'success') {

            swal({
                title: respuesta.titulo,
                text: respuesta.descripcion,
                type: respuesta.resp,
                confirmButtonColor: '#57a94f',
                closeOnClickOutside: false
              },
              function(isConfirm) {
                if (isConfirm) {
                  location.reload();
                }
              });

          } else {

            swal({
              title: respuesta.titulo,
              text: respuesta.descripcion,
              type: respuesta.resp,
              confirmButtonColor: '#fd6074'
            })

          }
        }).catch(() => {
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          swal({
            title: 'Request Error',
            text: '500 - Admin Consignaciones',
            type: 'error'
          });
        })

    }

    function modalRechazar(e, i) {

      const idUsuario = document.getElementById('idUsuario');
      idUsuario.value = i;

    }

    function rechazarConsignacion(e) {

      $('#global-loader').addClass("d-block");
      $('#global-loader').removeClass("d-none");
      const motivo = document.getElementById('motivo').value;
      const id = document.getElementById('idUsuario').value;
      const responsable = document.getElementById('responsableRechazo').value;

      fetch('/adminConsignaciones/rechazarConsignacion', {
          method: 'POST',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify({
            motivo: motivo,
            id: id,
            responsable: responsable
          })
        })
        .then(res => res.text())
        .then(data => {
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          const respuesta = JSON.parse(data);
          if (respuesta.resp === 'success') {

            swal({
                title: respuesta.titulo,
                text: respuesta.descripcion,
                type: respuesta.resp,
                confirmButtonColor: '#57a94f',
                closeOnClickOutside: false
              },
              function(isConfirm) {
                if (isConfirm) {
                  location.reload();
                }
              });

          } else {

            $('#alertaRechazar').fadeIn();
            const error = '<button aria-label="Close" class="close" data-dismiss="alert" type="button"> <span aria-hidden="true" class="text-danger">×</span> </button> <strong>Oh no!</strong> ' + respuesta.descripcion + '.';
            $('#alertaRechazar').html(error);
            $('#alertaRechazar').delay(2000).fadeOut();
          }
        }).catch(() => {
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          swal({
            title: 'Request Error',
            text: '500 - Admin Consignaciones',
            type: 'error'
          });
        })

    }
  </script>