<!-- Header -->
<%- include('layautsDashboard/header') %>

<body class="main-body leftmenu body-ingreso">

  <%- include('layautsDashboard/loader') %>

  <!-- Page -->
  <div class="page">

    <!-- Menu -->
    <%- include('layautsDashboard/menu') %>

    <!-- Cabecera -->
    <%- include('layautsDashboard/head') %>

    <!-- Main Content-->
    <div class="main-content side-content pt-0">

      <div class="container-fluid">
        <div class="inner-body">

          <!-- Page Header -->
          <div class="page-header">
            <div>
              <h2 class="main-content-title tx-24 mg-b-5"><%- titulo %></h2>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard/inicio">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%- breadcrumb %></li>
              </ol>
            </div>
          </div>
          <!-- End Page Header -->

          <!--Row-->
                  <table class="table table-bordered text-nowrap w-100 key-buttons" id="exportexample_date">
                    <thead>
                      <tr>
                          <th>Id Suscripcion</th>
                          <th>Fecha Suscripcion</th>
                          <th>Nombre Wallet</th>
                          <th>Comprobante</th>
                          <th>ip</th>
                          <th>Estado</th>
                          <th>Id usuario</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%for (let i = 0; i < traerDatos.length; i++) {%>
                      <tr>
                        <td><%=traerDatos[i].dataValues.idSuscripcion%></td>
                        <td><%=traerDatos[i].dataValues.fechaSuscripcion%></td>
                        <td><%=traerDatos[i].dataValues.nombreWallet%></td>
                        <td><%=traerDatos[i].dataValues.comprobante%></td>
                        <td><%=traerDatos[i].dataValues.ip%></td>
                        <td><%=traerDatos[i].dataValues.estado%></td>
                        <td><%=traerDatos[i].dataValues.usuarioIdUsuario%></td>
                      </tr>
                      <%}%>
                     
                    </tbody>
                  </table>
        
              </div>
            </div>
          </div>
          <!-- Row end -->
        </div>
      </div>
    </div>
    <!-- End Main Content-->

    <!-- Tabla suscripciones -->
    
        
    <!-- Foot -->
    <%- include('layautsDashboard/foot') %>

    <!-- Notificiaciones -->
    

  </div>
  <!-- End Page -->

  <!-- Footer -->
  <%- include('layautsDashboard/footer') %>

  <script>





    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 10,
      center: true,
      autoplay: true,
      // dots: false,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 3
        },
        1000: {
          items: 3
        }
      }
    })

    $('.carousel-item').each(function(i, obj) {
      if (i == 0) {
        $(this).addClass('active');
      }
    });

    $('.dots-carousel').each(function(i, obj) {
      if (i == 0) {
        $(this).addClass('active');
      }
    });
  </script>