<!-- Header -->
<%- include('layautsDashboard/header') %>

<body class="main-body leftmenu body-ingreso">

  <%- include('layautsDashboard/loader') %>

  <!-- Page -->
  <div class="page">

    <!-- Menu -->
    <%- include('layautsDashboard/menu') %>

    <!-- Cabecera -->
    <%- include('layautsDashboard/head') %>

    <!-- Main Content-->
    <div class="main-content side-content pt-0">

      <div class="container-fluid">
        <div class="inner-body">

          <!-- Page Header -->
          <div class="page-header">
            <div>
              <h2 class="main-content-title tx-24 mg-b-5"><%- titulo %></h2>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard/inicio">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%- breadcrumb %></li>
              </ol>
            </div>
          </div>
          <!-- End Page Header -->

          <!-- =============================
							Inicio Componentes Pagina
						============================== -->

          <!-- Row -->
          <div class="row row-sm">
            <div class="col-sm-6 col-md-6 col-xl-6">
              <div class="card custom-card">
                <div class="card-body">
                  <p class="mb-1 tx-inverse">Total Cuentas</p>
                  <div class="">
                    <h4 class="dash-25 mb-2 float-right">100%</h4>
                    <h4 class="dash-25 mb-2"><%= cuentas.length %></h4>
                  </div>
                  <div class="progress">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" class="progress-bar progress-bar-xs wd-100p" role="progressbar"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xl-6">
              <div class="card custom-card">
                <div class="card-body">
                  <p class="mb-1 tx-inverse">Cuentas sin tomar</p>
                  <% const porcentaje = (cuentasSinTomar.length * 100) / cuentas.length; %>
                  <div>
                    <h4 class="dash-25 mb-2 float-right"><%- porcentaje %>%</h4>
                    <h4 class="dash-25 mb-2"><%= cuentasSinTomar.length %></h4>
                  </div>
                  <div class="progress">
                    <div aria-valuemax="<%- porcentaje %>" aria-valuemin="0" aria-valuenow="<%- porcentaje %>" class="progress-bar progress-bar-xs wd-<%- porcentaje %>p bg-secondary" role="progressbar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Row -->

          <!-- Row -->
          <div class="row row-sm">
            <div class="col-lg-12">
              <div class="card custom-card">
                <div class="card-body">
                  <div>
                    <h6 class="main-content-label mb-1">Total Cuentas sin tomar</h6>
                    <p class="text-muted card-sub-title">A continuación encontrara un reporte detallado de todas las cuentas en el sistema sin tomar por plataforma.</p>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-bordered text-nowrap w-100 key-buttons" id="exportexample">
                      <thead>
                        <tr>
                          <th>Logo</th>
                          <th>Plataforma</th>
                          <th>Tipo</th>
                          <th>Cantidad</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(plataformas.length) { %>
                        <% plataformas.forEach(listaPlataformas => { %>
                        <% const CuentasCant = cuentasSinTomar.filter(function(element){ %>
                        <% return element.plataformaIdPlataforma == listaPlataformas.id_plataforma; %>
                        <% }); %>
                        <% const cantidad = CuentasCant.length; %>

                        <tr>
                          <td class="text-center">
                            <img src="<%= listaPlataformas.logo === null ? '/assetsDashboard/img/users/default.jpg' : listaPlataformas.logo %>" alt="" class="img-circle">
                          </td>
                          <td class="text-capitalize"><%= listaPlataformas.plataforma %></td>
                          <td class="text-capitalize text-center">
                            <span class="badge <%= listaPlataformas.tipo_plataforma === 1 ? 'badge-primary' : listaPlataformas.tipo_plataforma === 2 ? 'badge-secondary' : listaPlataformas.tipo_plataforma === 3 ? 'badge-danger' : listaPlataformas.tipo_plataforma === 4 ? 'badge-info' : listaPlataformas.tipo_plataforma === 5 ? 'badge-warning' : 'badge-light' %>">
                              <%= listaPlataformas.tipo_plataforma === 1 ? 'Normal' : listaPlataformas.tipo_plataforma === 2 ? 'Bajo Pedido' : listaPlataformas.tipo_plataforma === 3 ? 'Personalizada' : listaPlataformas.tipo_plataforma === 4 ? 'Renovaciones' : listaPlataformas.tipo_plataforma === 5 ? 'Juegos' : 'N/A' %>
                            </span>
                          </td>
                          <td class="text-capitalize text-center"><%- cantidad %> </td>
                        </tr>
                        <% }) %>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Row -->

          <!-- =============================
							Fin Componentes Pagina
						============================== -->

        </div>
      </div>
    </div>
    <!-- End Main Content-->

    <!-- Foot -->
    <%- include('layautsDashboard/foot') %>

    <!-- Notificiaciones -->
    

  </div>
  <!-- End Page -->

  <!-- Footer -->
  <%- include('layautsDashboard/footer') %>


  <!-- Scripts Personalizados -->

  <% if(locals.mensajes) { %>
  <% const validacionErrores = Object.keys(locals.mensajes) %>
  <% if(validacionErrores.length) { %>

  <% locals.mensajes[validacionErrores].forEach(alerta => { %>

  <% if(validacionErrores == 'error') { %>
  <% title = 'Lo Sentimos!' %>
  <% } else if (validacionErrores == 'success') { %>
  <% title = 'Perfecto!' %>
  <% } %>

  <script>
    swal({
      title: "<%= title %>",
      text: "<%= alerta %>",
      type: "<%= validacionErrores %>",
      confirmButtonColor: '#57a94f'
    })
  </script>

  <% }); %>

  <% } %>
  <% } %>