<!-- Header -->
<%- include('layautsDashboard/header') %>

<body class="main-body leftmenu body-ingreso">

    <%- include('layautsDashboard/loader') %>

		<!-- Page -->
		<div class="page">

			<!-- Menu -->
			<%- include('layautsDashboard/menu') %> 

			<!-- Cabecera -->
			<%- include('layautsDashboard/head') %> 

			<!-- Main Content-->
			<div class="main-content side-content pt-0">

				<div class="container-fluid">
					<div class="inner-body">

						<!-- Page Header -->
						<div class="page-header">
							<div>
								<h2 class="main-content-title tx-24 mg-b-5"><%- titulo %></h2>
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/dashboard/inicio">Inicio</a></li>
									<li class="breadcrumb-item active" aria-current="page"><%- breadcrumb %></li>
								</ol>
							</div>
						</div>
						<!-- End Page Header -->

						<!-- =============================
							Inicio Componentes Pagina
						============================== -->

						<!-- Row -->
                        <div class="row row-sm">
                            <% if(preguntas.length) { %> 
                                <% preguntas.forEach(listaPreguntas => { %>
                                    <div class="col-sm-6 col-md-6 col-xl-3">
                                        <div class="card custom-card">
                                            <div class="card-body user-card text-center">
                                                <div class="main-img-user avatar-lg online text-center">
                                                    <img alt="avatar" class="rounded-circle" src="https://img.youtube.com/vi/<%= listaPreguntas.video%>/0.jpg">
                                                </div>
                                                <div class="mt-2">
                                                    <h5 class="mb-1"><%= listaPreguntas.pregunta%></h5>
                                                    <span class="text-muted"><i class="far fa-check-circle text-success mr-1"></i>Verificado</span>
                                                </div>
                                                <a data-toggle="modal" href="#modalVideo" onclick="modalVideo(event, '<%= listaPreguntas.video %>', '<%= listaPreguntas.pregunta %>')" class="btn ripple btn-primary mt-3">Ver video</a>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %> 
                            <% } %> 
                        </div>

						<!-- =============================
							Fin Componentes Pagina
						============================== -->

					</div>
				</div>
			</div>
			<!-- End Main Content-->

			<!-- Foot -->
			<%- include('layautsDashboard/foot') %> 

			<!-- Notificiaciones -->
			

		</div>
		<!-- End Page -->

<!-- Modal video -->
<div class="modal" id="modalVideo">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Video pregunta - <span id="titulo"></span></h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="iframeVideo"></iframe>
            </div>
            <div class="modal-footer">
                <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<%- include('layautsDashboard/footer') %> 


<!-- Scripts Personalizados -->

<% if(locals.mensajes) { %>
	<% const validacionErrores = Object.keys(locals.mensajes) %>
	<% if(validacionErrores.length) { %>
		
		<% locals.mensajes[validacionErrores].forEach(alerta => { %>

			<% if(validacionErrores == 'error') { %>
				<% title = 'Lo Sentimos!' %> 
			<% } else if (validacionErrores == 'success') { %>
				<% title = 'Perfecto!' %> 
			<% } %> 

			<script>
				swal(
					{
						title: "<%= title %>",
						text: "<%= alerta %>",
						type: "<%= validacionErrores %>",
						confirmButtonColor: '#57a94f'
					}
				)
			</script>

		<% }); %>

	<% } %> 
<% } %>


<script>

    function modalVideo (e, video, pregunta) {

        const iframeVideo = document.getElementById('iframeVideo');
        iframeVideo.src = 'https://www.youtube.com/embed/'+video;
        const titulo = document.getElementById('titulo');
        titulo.innerHTML = pregunta;

    }

</script>