<!-- Header -->
<%- include('layautsDashboard/header') %>

<body class="main-body leftmenu body-ingreso">

  <%- include('layautsDashboard/loader') %>

  <!-- Page -->
  <div class="page">

    <!-- Menu -->
    <%- include('layautsDashboard/menu') %>

    <!-- Cabecera -->
    <%- include('layautsDashboard/head') %>

    <!-- Main Content-->
    <div class="main-content side-content pt-0">

      <div class="container-fluid">
        <div class="inner-body">

          <!-- Page Header -->
          <div class="page-header">
            <div>
              <h2 class="main-content-title tx-24 mg-b-5"><%- titulo %></h2>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard/inicio">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%- breadcrumb %></li>
              </ol>
            </div>
            <div class="d-flex">
              <div class="justify-content-center">
                <a class="btn btn-primary my-2 btn-icon-text" data-effect="effect-flip-horizontal" data-toggle="modal" href="#modalCrearMedio">
                  <i class="fe fe-inbox mr-2"></i> Crear medio de consignación
                </a>
              </div>
            </div>
          </div>
          <!-- End Page Header -->

          <!-- =============================
							Inicio Componentes Pagina
						============================== -->

          <!-- Row -->
          <div class="row row-sm">

            <% if(medios.length) { %>
            <% medios.forEach(listaMedios => { %>
            <div class="col-md-6 col-lg-3">
              <div class="card overflow-hidden custom-card ">
                <img alt="Image" class="img-fluid b-img" src="<%- listaMedios.imagen %>">
                <div class="card-body">
                  <p class="text-uppercase font-weight-bold"><%- listaMedios.titulo %></p>
                  <p class="card-text"><%- listaMedios.descripcionCorta %></p>
                  <p class="<%= listaMedios.estado === 1 ? 'text-success' : 'text-danger' %>"><i class="fas fa-circle mr-2"></i> <%= listaMedios.estado === 1 ? 'Medio Activo' : 'Medio Inactivo' %></p>
                  <button class="btn btn-primary" data-effect="effect-flip-horizontal" data-toggle="modal" href="#modalInformacion" onclick="modalInformacion(event, '<%= listaMedios.idMedio %>')"><i class="fe fe-eye"></i> Info</button>
                  <button class="btn btn-warning" data-effect="effect-flip-horizontal" data-toggle="modal" href="#modalEditar" onclick="modalEditar(event, '<%= listaMedios.idMedio %>')"><i class="fe fe-edit"></i></button>
                  <button class="btn btn-light" onclick="bloquear(event, '<%= listaMedios.idMedio %>')"><i class="ti-na"></i></button>
                  <button class="btn btn-danger" data-effect="effect-flip-horizontal" data-toggle="modal" href="#modalEliminar" onclick="modalEliminar(event, '<%= listaMedios.idMedio %>')"><i class="fe fe-trash-2"></i></button>
                </div>
              </div>
            </div>
            <% }) %>
            <% } %>
          </div>
          <!-- End Row -->

          <!-- Foot -->
          <%- include('layautsDashboard/foot') %>

          <!-- Notificiaciones -->
          

        </div>
        <!-- End Page -->

        <!-- Modal Crear -->
        <div class="modal" id="modalCrearMedio">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content modal-content-demo">
              <div class="modal-header">
                <h6 class="modal-title">Crear medio de consignación</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <form action="POST" enctype="multipart/form-data" id="formCrearMedioConsgnación">
                  <div class="form-group ">
                    <div class="row row-sm">
                      <label class="form-label">Medio de consignación</label>
                      <input type="text" class="form-control" placeholder="Ingrese el nombre del medio de consignación o transferencia" value="" id="titulo" name="titulo">
                    </div>
                  </div>
                  <div class="form-group ">
                    <div class="row row-sm">
                      <label class="form-label">Descripción corta (Max. 100 caracteres)</label>
                      <textarea type="text" class="form-control" placeholder="Descripción corta del medio de pago" value="" id="descripcionCorta" name="descripcionCorta" rows="6" onkeyup="countCaracteres(event, '1')"></textarea>
                      <p class="mb-3 text-right text-muted">Caracteres <span id="caracteres1"></span></p>
                    </div>
                  </div>
                  <div class="form-group ">
                    <div class="row row-sm">
                      <label class="form-label">Informacion sobre el medio de consignación (Max. 1200 caracteres)</label>
                      <textarea type="text" class="form-control" placeholder="Describa el paso a paso de como sus clientes van a realizar las consignaciones a través de este medio" value="" id="descripcion" name="descripcion" rows="12" onkeyup="countCaracteres(event, '2')"></textarea>
                      <p class="mb-3 text-right text-muted">Caracteres <span id="caracteres2"></span></p>
                    </div>
                  </div>
                  <div class="form-group ">
                    <div class="row row-sm">
                      <label class="form-label">Imagen o logo del medio de consignación (500px x 500px)</label>
                      <div class="input-group file-browser px-0">
                        <input type="text" class="form-control border-right-0 browse-file" placeholder="Subir imagen o logo" readonly>
                        <label class="input-group-btn">
                          <span class="btn btn-primary">
                            Seleccionar <input type="file" name="files" id="imagen" style="display: none;">
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group ">
                    <div class="row row-sm">
                      <label class="form-label">Imagen de codigo de barras, QR ó informativa del medio de pago (1080px x 1080px)<br>
                        (Ejemplo: Tarjeta de recaudo, informacion de cuenta bancaria, codigo QR de transferencia, etc.)</label>
                      <div class="input-group file-browser px-0">
                        <input type="text" class="form-control border-right-0 browse-file" placeholder="Subir imagen" readonly>
                        <label class="input-group-btn">
                          <span class="btn btn-primary">
                            Seleccionar <input type="file" name="files" id="recurso" style="display: none;">
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="alert alert-danger mg-b-0 display-none" role="alert" id="alertaCrear">
                  Hola
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn ripple btn-primary" type="button" onclick="crearMedioConsgnación(event)">Crear Medio de consignación</button>
                <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Cerrar</button>
              </div>
            </div>
          </div>
        </div>


        <!-- Modal Informacion -->
        <div class="modal" id="modalInformacion">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content modal-content-demo">
              <div class="modal-header">
                <h6 class="modal-title">Como consignar con <span id="tituloInfo" class="text-capitalize"></span></h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <div id="cuerpoInfo"></div>
                <div class="display-none mt-5 position-relative" id="recursoInfo">
                  <h5 class="text-uppercase text-left">Scanea, descarga o imprime</h5>
                  <img src="" alt="" class="w-100" id="imgRecurso">
                </div>
              </div>
              <div class="modal-footer">
                <a href="" download="" id="btnDescargarRecurso" class="btn btn-primary display-none"><i class="fe fe-download"></i> Descargar</a>
                <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Cerrar</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Editar -->
        <div class="modal" id="modalEditar">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content modal-content-demo">
              <div class="modal-header">
                <h6 class="modal-title">Editar medio de consginación - <span id="tituloInfoEditar" class="text-capitalize"></span></h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <input type="hidden" id="idMedioEdit">
                <div class="form-group ">
                  <div class="row row-sm">
                    <label class="form-label">Medio de consignación</label>
                    <input type="text" class="form-control" placeholder="Ingrese el nombre del medio de consignación o transferencia" value="" id="tituloEditar" name="tituloEditar">
                  </div>
                </div>
                <div class="form-group ">
                  <div class="row row-sm">
                    <label class="form-label">Descripción corta (Max. 100 caracteres)</label>
                    <textarea type="text" class="form-control" placeholder="Descripción corta del medio de pago" value="" id="descripcionCortaEditar" name="descripcionCortaEditar" rows="6" onkeyup="countCaracteresEditar(event, '3')"></textarea>
                    <p class="mb-3 text-right text-muted">Caracteres <span id="caracteres3"></span></p>
                  </div>
                </div>
                <div class="form-group ">
                  <div class="row row-sm">
                    <label class="form-label">Informacion sobre el medio de consignación (Max. 1200 caracteres)</label>
                    <textarea type="text" class="form-control" placeholder="Describa el paso a paso de como sus clientes van a realizar las consignaciones a través de este medio" value="" id="descripcionEditar" name="descripcionEditar" rows="12" onkeyup="countCaracteresEditar(event, '4')"></textarea>
                    <p class="mb-3 text-right text-muted">Caracteres <span id="caracteres4"></span></p>
                  </div>
                </div>
              </div>
              <div class="alert alert-danger mg-b-0 display-none" role="alert" id="alertaEditar">
                Hola
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" onclick="editarMedio(event)"><i class="fe fe-edit"></i> Editar</button>
                <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Cerrar</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Eliminar -->

        <div class="modal" id="modalEliminar">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content tx-size-sm">
              <div class="modal-body tx-center pd-y-20 pd-x-20">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                <i class="icon icon ion-ios-close-circle-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                <h4 class="tx-danger mg-b-20">¡Hola!</h4>
                <p class="mg-b-2 mg-x-20">¿Esta seguro de eliminar este medio de consignación?.</p>
                <p class="mg-b-30 mg-x-20 text-center text-capitalize" id="nombreMedioEliminar"></p>
                <input type="hidden" value="" id="idEliminar">
                <button aria-label="Close" class="btn ripple btn-danger pd-x-25" data-dismiss="modal" type="button" onclick="eliminarMedio(event)">Eliminar</button>
              </div>
            </div>
          </div>
        </div>


        <!-- Footer -->
        <%- include('layautsDashboard/footer') %>


        <!-- Scripts Personalizados -->

        <% if(locals.mensajes) { %>
        <% const validacionErrores = Object.keys(locals.mensajes) %>
        <% if(validacionErrores.length) { %>

        <% locals.mensajes[validacionErrores].forEach(alerta => { %>

        <% if(validacionErrores == 'error') { %>
        <% title = 'Lo Sentimos!' %>
        <% } else if (validacionErrores == 'success') { %>
        <% title = 'Perfecto!' %>
        <% } %>

        <script>
          swal({
            title: "<%= title %>",
            text: "<%= alerta %>",
            type: "<%= validacionErrores %>",
            confirmButtonColor: '#57a94f'
          })
        </script>

        <% }); %>

        <% } %>
        <% } %>


        <script>
          function countCaracteres(e, tipo) {
            if (tipo == 1) {

              const limit = 100;
              const textArea = document.getElementById('descripcionCorta');
              textArea.maxLength = limit;
              const caracteres = document.getElementById('caracteres1');

              var init = textArea.value.length;

              if (init < limit) {
                init++;
                caracteres.innerHTML = init;
              }

            } else {

              const limit = 1200;
              const textArea = document.getElementById('descripcion');
              textArea.maxLength = limit;
              const caracteres = document.getElementById('caracteres2');

              var init = textArea.value.length;

              if (init < limit) {
                init++;
                caracteres.innerHTML = init;
              }

            }
          }

          function countCaracteresEditar(e, tipo) {
            if (tipo == 3) {

              const limit = 100;
              const textArea = document.getElementById('descripcionCortaEditar');
              textArea.maxLength = limit;
              const caracteres = document.getElementById('caracteres3');

              var init = textArea.value.length;

              if (init < limit) {
                init++;
                caracteres.innerHTML = init;
              }

            } else {

              const limit = 1200;
              const textArea = document.getElementById('descripcionEditar');
              textArea.maxLength = limit;
              const caracteres = document.getElementById('caracteres4');

              var init = textArea.value.length;

              if (init < limit) {
                init++;
                caracteres.innerHTML = init;
              }

            }
          }

          function bloquear(e, id) {

            $('#global-loader').addClass("d-block");
            $('#global-loader').removeClass("d-none");
            fetch('/mediosConsignacion/bloquearMedio', {
                method: 'POST',
                headers: {
                  'Content-type': 'application/json'
                },
                body: JSON.stringify({
                  id: id
                })
              })
              .then(res => res.text())
              .then(data => {
                $('#global-loader').removeClass("d-block");
                $('#global-loader').addClass("d-none");
                const respuesta = JSON.parse(data);
                if (respuesta.resp === 'success') {

                  swal({
                      title: respuesta.titulo,
                      text: respuesta.descripcion,
                      type: respuesta.resp,
                      confirmButtonColor: '#57a94f',
                      closeOnClickOutside: false
                    },
                    function(isConfirm) {
                      if (isConfirm) {
                        location.reload();
                      }
                    });

                }
              }).catch(() => {
                $('#global-loader').removeClass("d-block");
                $('#global-loader').addClass("d-none");
                swal({
                  title: 'Request Error',
                  text: '500 - Medios consignación',
                  type: 'error'
                });
              })

          }

          function modalEliminar(e, id) {

            $('#global-loader').addClass("d-block");
            $('#global-loader').removeClass("d-none");
            fetch('/mediosConsignacion/infoMedio', {
                method: 'POST',
                headers: {
                  'Content-type': 'application/json'
                },
                body: JSON.stringify({
                  id: id
                })
              })
              .then(res => res.text())
              .then(data => {
                $('#global-loader').removeClass("d-block");
                $('#global-loader').addClass("d-none");
                const respuesta = JSON.parse(data);
                const nombreMedioEliminar = document.getElementById('nombreMedioEliminar');
                nombreMedioEliminar.innerHTML = respuesta.medio.titulo;
                const idEliminar = document.getElementById('idEliminar');
                idEliminar.value = id;
              }).catch(() => {
                $('#global-loader').removeClass("d-block");
                $('#global-loader').addClass("d-none");
                swal({
                  title: 'Request Error',
                  text: '500 - Medios consignación',
                  type: 'error'
                });
              })

          }

          function eliminarMedio(e) {

            const id = document.getElementById('idEliminar').value;

            $('#global-loader').addClass("d-block");
            $('#global-loader').removeClass("d-none");
            fetch('/mediosConsignacion/eliminarMedio', {
                method: 'POST',
                headers: {
                  'Content-type': 'application/json'
                },
                body: JSON.stringify({
                  id: id
                })
              })
              .then(res => res.text())
              .then(data => {
                $('#global-loader').removeClass("d-block");
                $('#global-loader').addClass("d-none");
                const respuesta = JSON.parse(data);
                if (respuesta.resp === 'success') {

                  swal({
                      title: respuesta.titulo,
                      text: respuesta.descripcion,
                      type: respuesta.resp,
                      confirmButtonColor: '#57a94f',
                      closeOnClickOutside: false
                    },
                    function(isConfirm) {
                      if (isConfirm) {
                        location.reload();
                      }
                    });

                }
              }).catch(() => {
                $('#global-loader').removeClass("d-block");
                $('#global-loader').addClass("d-none");
                swal({
                  title: 'Request Error',
                  text: '500 - Medios consignación',
                  type: 'error'
                });
              })

          }

          function editarMedio(e) {

            const idMedioEdit = document.getElementById('idMedioEdit').value.trim();
            const tituloEditar = document.getElementById('tituloEditar').value.trim();
            const descripcionCortaEditar = document.getElementById('descripcionCortaEditar').value.trim();
            const format1 = descripcionCortaEditar.replaceAll(/(\r\n|\n|\r)/gm, "<br>");
            const descripcionEditar = document.getElementById('descripcionEditar').value.trim();
            const format2 = descripcionEditar.replaceAll(/(\r\n|\n|\r)/gm, "<br>");

            $('#global-loader').addClass("d-block");
            $('#global-loader').removeClass("d-none");
            fetch('/mediosConsignacion/EditarMedio', {
                method: 'POST',
                headers: {
                  'Content-type': 'application/json'
                },
                body: JSON.stringify({
                  id: idMedioEdit,
                  titulo: tituloEditar,
                  descripcionCorta: format1,
                  descripcion: format2
                })
              })
              .then(res => res.text())
              .then(data => {
                $('#global-loader').removeClass("d-block");
                $('#global-loader').addClass("d-none");
                const respuesta = JSON.parse(data);
                if (respuesta.resp === 'success') {

                  swal({
                      title: respuesta.titulo,
                      text: respuesta.descripcion,
                      type: respuesta.resp,
                      confirmButtonColor: '#57a94f',
                      closeOnClickOutside: false
                    },
                    function(isConfirm) {
                      if (isConfirm) {
                        location.reload();
                      }
                    });

                } else {

                  $('#alertaEditar').fadeIn();
                  const error = '<button aria-label="Close" class="close" data-dismiss="alert" type="button"> <span aria-hidden="true" class="text-danger">×</span> </button> <strong>Oh no!</strong> ' + respuesta.descripcion + '.';
                  $('#alertaEditar').html(error);
                  $('#alertaEditar').delay(2000).fadeOut();
                }
              }).catch(() => {
                $('#global-loader').removeClass("d-block");
                $('#global-loader').addClass("d-none");
                swal({
                  title: 'Request Error',
                  text: '500 - Medios consignación',
                  type: 'error'
                });
              })

          }

          function modalEditar(e, id) {

            $('#global-loader').addClass("d-block");
            $('#global-loader').removeClass("d-none");
            fetch('/mediosConsignacion/infoMedio', {
                method: 'POST',
                headers: {
                  'Content-type': 'application/json'
                },
                body: JSON.stringify({
                  id: id
                })
              })
              .then(res => res.text())
              .then(data => {
                $('#global-loader').removeClass("d-block");
                $('#global-loader').addClass("d-none");
                const respuesta = JSON.parse(data);
                const tituloInfo = document.getElementById('tituloInfoEditar');
                tituloInfo.innerHTML = respuesta.medio.titulo;
                const idMedioEdit = document.getElementById('idMedioEdit');
                idMedioEdit.value = respuesta.medio.idMedio;

                const tituloEditar = document.getElementById('tituloEditar');
                tituloEditar.value = respuesta.medio.titulo;
                const descripcionCortaEditar = document.getElementById('descripcionCortaEditar');
                descripcionCortaEditar.value = respuesta.medio.descripcionCorta;
                const descripcionEditar = document.getElementById('descripcionEditar');
                const format = respuesta.medio.descripcion.replaceAll('<br>', '\n');
                descripcionEditar.value = format;

              }).catch(() => {
                $('#global-loader').removeClass("d-block");
                $('#global-loader').addClass("d-none");
                swal({
                  title: 'Request Error',
                  text: '500 - Medios consignación',
                  type: 'error'
                });
              })

          }

          function modalInformacion(e, id) {

            $('#global-loader').addClass("d-block");
            $('#global-loader').removeClass("d-none");
            fetch('/mediosConsignacion/infoMedio', {
                method: 'POST',
                headers: {
                  'Content-type': 'application/json'
                },
                body: JSON.stringify({
                  id: id
                })
              })
              .then(res => res.text())
              .then(data => {
                $('#global-loader').removeClass("d-block");
                $('#global-loader').addClass("d-none");
                const respuesta = JSON.parse(data);
                const tituloInfo = document.getElementById('tituloInfo');
                tituloInfo.innerHTML = respuesta.medio.titulo;
                const cuerpoInfo = document.getElementById('cuerpoInfo');
                cuerpoInfo.innerHTML = respuesta.medio.descripcion;

                const recursoInfo = document.getElementById('recursoInfo');
                const imgRecurso = document.getElementById('imgRecurso');

                const btnDescargarRecurso = document.getElementById('btnDescargarRecurso');

                if (respuesta.medio.recurso !== null) {
                  recursoInfo.classList.remove('display-none');
                  imgRecurso.src = respuesta.medio.recurso;
                  btnDescargarRecurso.classList.remove('display-none');
                  btnDescargarRecurso.href = respuesta.medio.recurso;
                  const descarga = respuesta.medio.titulo;
                  btnDescargarRecurso.setAttribute("download", descarga);
                } else {
                  recursoInfo.classList.add('display-none');
                  btnDescargarRecurso.classList.add('display-none');
                  imgRecurso.src = '';
                  btnDescargarRecurso.href = '';
                  btnDescargarRecurso.setAttribute("download", '');
                }
              }).catch(() => {
                $('#global-loader').removeClass("d-block");
                $('#global-loader').addClass("d-none");
                swal({
                  title: 'Request Error',
                  text: '500 - Medios consignación',
                  type: 'error'
                });
              })


          }

          function crearMedioConsgnación(e) {

            const titulo = document.getElementById("titulo").value.trim();
            const descripcionCorta = document.getElementById("descripcionCorta").value.trim();
            const format1 = descripcionCorta.replaceAll(/(\r\n|\n|\r)/gm, "<br>");
            const descripcion = document.getElementById("descripcion").value.trim();
            const format2 = descripcion.replaceAll(/(\r\n|\n|\r)/gm, "<br>");
            const imagen = document.getElementById('imagen');
            const recurso = document.getElementById('recurso');

            const data = new FormData();
            data.append('tituloMedio', titulo);
            data.append('descripcionCortaMedio', format1);
            data.append('descripcionMedio', format2);
            data.append('imagen', imagen.files[0]);
            data.append('recurso', recurso.files[0]);

            $('#global-loader').addClass("d-block");
            $('#global-loader').removeClass("d-none");
            fetch('/mediosConsignacion/subirMedio', {
                method: 'POST',
                body: data
              })
              .then(res => res.text())
              .then(data => {
                $('#global-loader').removeClass("d-block");
                $('#global-loader').addClass("d-none");
                const respuesta = JSON.parse(data);
                if (respuesta.resp === 'success') {

                  swal({
                      title: respuesta.titulo,
                      text: respuesta.descripcion,
                      type: respuesta.resp,
                      confirmButtonColor: '#57a94f',
                      closeOnClickOutside: false
                    },
                    function(isConfirm) {
                      if (isConfirm) {
                        location.reload();
                      }
                    });

                } else {

                  $('#alertaCrear').fadeIn();
                  const error = '<button aria-label="Close" class="close" data-dismiss="alert" type="button"> <span aria-hidden="true" class="text-danger">×</span> </button> <strong>Oh no!</strong> ' + respuesta.descripcion + '.';
                  $('#alertaCrear').html(error);
                  $('#alertaCrear').delay(2000).fadeOut();
                }
              }).catch(() => {
                $('#global-loader').removeClass("d-block");
                $('#global-loader').addClass("d-none");
                swal({
                  title: 'Request Error',
                  text: '500 - Medios consignación',
                  type: 'error'
                });
              })
          }
        </script>