<!-- Header -->
<%- include('layautsDashboard/header') %>

<body class="main-body leftmenu body-ingreso">

  <%- include('layautsDashboard/loader') %>

  <!-- Page -->
  <div class="page">

    <!-- Menu -->
    <%- include('layautsDashboard/menu') %>

    <!-- Cabecera -->
    <%- include('layautsDashboard/head') %>

    <!-- Main Content-->
    <div class="main-content side-content pt-0">

      <div class="container-fluid">
        <div class="inner-body">

          <!-- Page Header -->
          <div class="page-header">
            <div>
              <h2 class="main-content-title tx-24 mg-b-5"><%- titulo %></h2>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard/inicio">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%- breadcrumb %></li>
              </ol>
            </div>
            <div class="d-flex">
              <div class="justify-content-center">
                <a class="btn btn-primary my-2 btn-icon-text" data-effect="effect-flip-horizontal" data-toggle="modal" href="#modalSubir">
                  <i class="fe fe-upload mr-2"></i> Subir cuentas
                </a>
              </div>
            </div>
          </div>
          <!-- End Page Header -->

          <!-- =============================
							Inicio Componentes Pagina
						============================== -->

          <!-- Row -->
          <div class="row row-sm">
            <div class="col-sm-6 col-md-6 col-xl-4">
              <div class="card custom-card">
                <div class="card-body text-center">
                  <div class="icon-service bg-primary-transparent rounded-circle text-primary">
                    <i class="fe fe-upload-cloud"></i>
                  </div>
                  <p class="mb-1 text-muted">Total<br>Cuentas</p>
                  <h3 class="mb-0"><%= cuentas.length %></h3>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xl-4">
              <div class="card custom-card">
                <div class="card-body text-center">
                  <div class="icon-service bg-success-transparent rounded-circle text-success">
                    <i class="ti ti-face-smile"></i>
                  </div>
                  <p class="mb-1 text-muted">Cuentas<br>tomadas</p>
                  <h3 class="mb-0"><%= cuentasTomadas.length %></h3>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xl-4">
              <div class="card custom-card">
                <div class="card-body text-center">
                  <div class="icon-service bg-warning-transparent rounded-circle text-warning">
                    <i class="ti ti-face-sad"></i>
                  </div>
                  <p class="mb-1 text-muted">Cuentas<br>sin tomar</p>
                  <h3 class="mb-0"><%= cuentasSinTomar.length %></h3>
                </div>
              </div>
            </div>

          </div>
          <!-- End Row -->

          <!-- Row -->
          <div class="row row-sm">
            <div class="col-lg-12">
              <div class="card custom-card">
                <div class="card-body">
                  <div>
                    <h6 class="main-content-label mb-1">Total Cuentas</h6>
                    <p class="text-muted card-sub-title">A continuación encontrara un reporte detallado de todas las cuentas en el sistema.</p>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-bordered text-nowrap w-100 key-buttons" id="exportexample_date">
                      <thead>
                        <tr>
                          <th>Logo</th>
                          <th>Fecha de Creación</th>
                          <th>Plataforma</th>
                          <th>Usuario</th>
                          <th>Contraseña</th>
                          <th>Pantalla</th>
                          <th>Pin</th>
                          <th>Estado</th>
                          <th>Fecha de Compra</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(cuentas.length) { %>
                        <% cuentas.forEach(listaCuentas => { %>
                        <% if(!(listaCuentas.user == null || listaCuentas.plataformaIdPlataforma == null)) {%>
                        <% const plataformasCuentas = plataformas.filter(function(element){ %>
                        <% return element.id_plataforma == listaCuentas.plataformaIdPlataforma; %>
                        <% }); %>
                        <% if(!(plataformasCuentas[0] == null)){ %>
                        <% const logo = plataformasCuentas[0].logo; %>
                        <% const nombrePlataforma = plataformasCuentas[0].plataforma; %>

                        <tr>
                          <td class="text-center">
                            <img src="<%= logo === null ? '/assetsDashboard/img/users/default.jpg' : logo %>" alt="" class="img-circle">
                          </td>
                          <td><%= listaCuentas.fechaSubida.toLocaleString('es-CO');%></td>
                          <td class="text-capitalize"><%= nombrePlataforma %></td>
                          <td class="text-lowercase"><%= listaCuentas.user%></td>
                          <td><%= listaCuentas.password%></td>
                          <td class="text-capitalize"><%- listaCuentas.pantalla === 'no aplica' ? '<span class="badge badge-pill badge-primary">N/A</span>' : listaCuentas.pantalla %></td>
                          <td class="text-capitalize"><%- listaCuentas.pin === 'no aplica' ? '<span class="badge badge-pill badge-primary">N/A</span>' : listaCuentas.pin %></td>
                          <td class="text-capitalize text-center">
                            <span class="text-muted"><i class="far <%= listaCuentas.estado === 1 ? 'fa-check-circle text-success' : 'fa-minus-square text-warning' %> mr-1"></i><%= listaCuentas.estado === 1 ? 'Tomada' : 'Sin Tomar' %></span>
                          </td>
                          <td><%- listaCuentas.fechaCompra === null ? '<span class="badge badge-pill badge-secondary">Sin fecha</span>' : listaCuentas.fechaCompra.toLocaleString('es-CO')%></td>
                          <td class="text-capitalize">
                            <div class="btn btn-list">
                              <a class="btn ripple btn-warning modal-effect" title="Editar" data-effect="effect-flip-horizontal" data-toggle="modal" href="#modalEditar" onclick="modalEditar(event, '<%= listaCuentas.idCuenta %>', '<%= nombrePlataforma %>', '<%= listaCuentas.user %>', '<%= listaCuentas.password %>', '<%= listaCuentas.pantalla %>', '<%= listaCuentas.pin %>')"><i class="far fa-edit"></i></a>
                              <a class="btn ripple btn-danger modal-effect" title="Eliminar" data-effect="effect-flip-horizontal" data-toggle="modal" href="#modalEliminar" onclick="modalEliminar(event, '<%= listaCuentas.idCuenta %>', '<%= listaCuentas.user %>')"><i class="far fa-trash-alt"></i></a>
                            </div>
                          </td>
                        </tr>
                        <% } %>
                        <% } %>
                        <% }) %>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Row -->

          <!-- =============================
							Fin Componentes Pagina
						============================== -->

        </div>
      </div>
    </div>
    <!-- End Main Content-->

    <!-- Foot -->
    <%- include('layautsDashboard/foot') %>

    <!-- Notificiaciones -->
    

  </div>
  <!-- End Page -->

  <!-- Modal Subir -->
  <div class="modal" id="modalSubir">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title">Subir Cuentas</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form action="POST" enctype="multipart/form-data" id="formCrearPlataforma">

            <div class="form-group ">
              <div class="row row-sm">
                <label class="form-label">Plataforma</label>
                <select class="form-control select2" name="plataforma" id="plataforma">
                  <option>
                    Seleccione una plataforma
                  </option>
                  <% plataformas.forEach(plataforma => { %>

                  <option value="<%= plataforma.id_plataforma %>">
                    <%= plataforma.plataforma %>
                  </option>

                  <% }) %>

                </select>
              </div>
            </div>
            <div class="form-group ">
              <div class="row row-sm">
                <label class="form-label">Subir Archivo</label>
                <div class="input-group file-browser px-0">
                  <input type="text" class="form-control border-right-0 browse-file" placeholder="Subir Archivo" readonly>
                  <label class="input-group-btn">
                    <span class="btn btn-primary">
                      Seleccionar <input type="file" name="files" id="excel" style="display: none;">
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </form>
          <div class="alert alert-danger mg-b-0 display-none" role="alert" id="alertaSubir">
            Hola
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn ripple btn-primary" type="button" onclick="subirExcel(event)">Subir Cuentas</button>
          <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Editar -->
  <div class="modal" id="modalEditar">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title">Editar Cuenta</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

          <input type="hidden" value="" id="idCuenta">

          <div class="form-group ">
            <div class="row row-sm">
              <label class="form-label">Plataforma</label>
              <input type="text" class="form-control text-capitalize" placeholder="" value="" id="plataformaEdit" readonly>
            </div>
          </div>

          <div class="form-group ">
            <div class="row row-sm">
              <label class="form-label">Usuario</label>
              <input type="text" class="form-control" placeholder="Usuario cuenta" value="" id="usuarioEdit">
            </div>
          </div>
          <div class="form-group ">
            <div class="row row-sm">
              <label class="form-label">Contraseña</label>
              <input type="text" class="form-control" placeholder="Contraseña cuenta" value="" id="passwordEdit">
            </div>
          </div>
          <div class="form-group ">
            <div class="row row-sm">
              <label class="form-label">Pantalla</label>
              <input type="text" class="form-control" placeholder="Pantalla cuenta" value="" id="pantallaEdit">
            </div>
          </div>
          <div class="form-group ">
            <div class="row row-sm">
              <label class="form-label">Pin</label>
              <input type="text" class="form-control" placeholder="PIN cuenta" value="" id="pinEdit">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn ripple btn-primary" type="button" onclick="editarCuenta(event)">Editar Cuenta</button>
          <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Eliminar -->

  <div class="modal" id="modalEliminar">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content tx-size-sm">
        <div class="modal-body tx-center pd-y-20 pd-x-20">
          <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
          <i class="icon icon ion-ios-close-circle-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
          <h4 class="tx-danger mg-b-20">¡Hola!</h4>
          <p class="mg-b-2 mg-x-20">¿Esta seguro de eliminar esta cuenta?.</p>
          <p class="mg-b-30 mg-x-20 text-center text-capitalize" id="userCuentaEliminar"></p>
          <input type="hidden" value="" id="idEliminar">
          <button aria-label="Close" class="btn ripple btn-danger pd-x-25" data-dismiss="modal" type="button" onclick="eliminarCuenta(event)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <%- include('layautsDashboard/footer') %>


  <!-- Scripts Personalizados -->

  <% if(locals.mensajes) { %>
  <% const validacionErrores = Object.keys(locals.mensajes) %>
  <% if(validacionErrores.length) { %>

  <% locals.mensajes[validacionErrores].forEach(alerta => { %>

  <% if(validacionErrores == 'error') { %>
  <% title = 'Lo Sentimos!' %>
  <% } else if (validacionErrores == 'success') { %>
  <% title = 'Perfecto!' %>
  <% } %>

  <script>
    swal({
      title: "<%= title %>",
      text: "<%= alerta %>",
      type: "<%= validacionErrores %>",
      confirmButtonColor: '#57a94f'
    })
  </script>

  <% }); %>

  <% } %>
  <% } %>


  <script>
    function modalEditar(e, id, plataforma, user, password, pantalla, pin) {

      const idCuenta = document.getElementById("idCuenta");
      idCuenta.value = id;

      const plataformaEdit = document.getElementById("plataformaEdit");
      plataformaEdit.value = plataforma;

      const usuarioEdit = document.getElementById("usuarioEdit");
      usuarioEdit.value = user;

      const passwordEdit = document.getElementById("passwordEdit");
      passwordEdit.value = password;

      const pantallaEdit = document.getElementById("pantallaEdit");
      pantallaEdit.value = pantalla;

      const pinEdit = document.getElementById("pinEdit");
      pinEdit.value = pin;


    }

    function editarCuenta(e) {

      const id = document.getElementById("idCuenta").value;
      const usuario = document.getElementById("usuarioEdit").value;
      const password = document.getElementById("passwordEdit").value;
      const pantalla = document.getElementById("pantallaEdit").value;
      const pin = document.getElementById("pinEdit").value;

      $('#global-loader').addClass("d-block");
      $('#global-loader').removeClass("d-none");
      fetch('/subirCuentas/editarCuenta', {
          method: 'POST',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify({
            id,
            usuario,
            password,
            pantalla,
            pin
          })
        })
        .then(res => res.text())
        .then(data => {
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          const respuesta = JSON.parse(data);
          if (respuesta.resp === 'success') {

            swal({
                title: respuesta.titulo,
                text: respuesta.descripcion,
                type: respuesta.resp,
                confirmButtonColor: '#57a94f',
                closeOnClickOutside: false
              },
              function(isConfirm) {
                if (isConfirm) {
                  location.reload();
                }
              });

          } else {

            swal({
              title: respuesta.titulo,
              text: respuesta.descripcion,
              type: respuesta.resp,
              confirmButtonColor: '#fd6074'
            })
          }
        }).catch(() => {
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          swal({
            title: 'Request Error',
            text: '500 - Subir cuentas',
            type: 'error'
          });
        })
    }

    function modalEliminar(e, id, user) {

      const idEliminar = document.getElementById("idEliminar");
      idEliminar.value = id;

      const userEliminar = document.getElementById("userCuentaEliminar");
      userEliminar.innerHTML = user;

    }

    function eliminarCuenta(e) {

      const id = document.getElementById("idEliminar").value;

      $('#global-loader').addClass("d-block");
      $('#global-loader').removeClass("d-none");
      fetch('/subirCuentas/eliminarCuenta', {
          method: 'POST',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify({
            id: id
          })
        })
        .then(res => res.text())
        .then(data => {
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          const respuesta = JSON.parse(data);
          if (respuesta.resp === 'success') {

            swal({
                title: respuesta.titulo,
                text: respuesta.descripcion,
                type: respuesta.resp,
                confirmButtonColor: '#57a94f',
                closeOnClickOutside: false
              },
              function(isConfirm) {
                if (isConfirm) {
                  location.reload();
                }
              });

          } else {

            swal({
              title: respuesta.titulo,
              text: respuesta.descripcion,
              type: respuesta.resp,
              confirmButtonColor: '#fd6074'
            })

          }
        }).catch(() => {
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          swal({
            title: 'Request Error',
            text: '500 - Subir cuentas',
            type: 'error'
          });
        })

    }

    function subirExcel(e) {

      const plataforma = document.getElementById("plataforma").value;
      const excel = document.getElementById("excel");
      const data = new FormData();
      data.append('files', excel.files[0]);
      data.append('plataforma', plataforma);

      fetch('/subirCuentas/subirCuentasExcel', {
          method: 'POST',
          body: data
        })
        .then(res => res.text())
        .then(data => {
          const respuesta = JSON.parse(data);
          if (respuesta.resp === 'success') {

            swal({
                title: respuesta.titulo,
                text: respuesta.descripcion,
                type: respuesta.resp,
                confirmButtonColor: '#57a94f',
                closeOnClickOutside: false
              },
              function(isConfirm) {
                if (isConfirm) {
                  location.reload();
                }
              });

          } else {

            $('#alertaSubir').fadeIn();
            const error = '<button aria-label="Close" class="close" data-dismiss="alert" type="button"> <span aria-hidden="true" class="text-danger">×</span> </button> <strong>Oh no!</strong> ' + respuesta.descripcion + '.';
            $('#alertaSubir').html(error);
            $('#alertaSubir').delay(15000).fadeOut();
          }
        }).catch(() => {
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          swal({
            title: 'Request Error',
            text: '500 - Subir cuentas',
            type: 'error'
          });
        })
    }
  </script>