<!-- Header -->
<%- include('layautsDashboard/header') %>

<body class="main-body leftmenu body-ingreso">

  <%- include('layautsDashboard/loader') %>

  <!-- Page -->
  <div class="page">

    <!-- Menu -->
    <%- include('layautsDashboard/menu') %>

    <!-- Cabecera -->
    <%- include('layautsDashboard/head') %>

    <!-- Main Content-->
    <div class="main-content side-content pt-0">

      <div class="container-fluid">
        <div class="inner-body">

          <!-- Page Header -->
          <div class="page-header">
            <div>
              <h2 class="main-content-title tx-24 mg-b-5"><%- titulo %></h2>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard/inicio">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%- breadcrumb %></li>
              </ol>
            </div>
            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn_payments" data-toggle="modal" data-target="#exampleModal">
  Realizar Pago
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Realiza tu pago</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group ">
          <div class="row row-sm">
            <label class="form-label">Tipo Plataforma</label>
            <select class="form-control" id="tipoPlataformaEdit">
              <%for (let i = 0; i < qrMediosPago.length; i++) {%>
              <option value="<%=qrMediosPago[i].dataValues.nombre%>"><%=qrMediosPago[i].dataValues.nombre%></option>
              <%}%>
            </select>
            <input type="file" value="">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id='botonComprobante' onclick='enviarComprobante()'>Enviar Comprobante</button>
      </div>
    </div>
  </div>
</div>
          </div>
          <!-- End Page Header -->

          

          <!-- Modal effects -->
          <div class="modal" id="cambiarFoto">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content modal-content-demo">
                <div class="modal-header">
                  <h6 class="modal-title">Cambiar imágen de perfil</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <form action="/dashboard/mi-perfil/subir-foto/<%= usuario.email %>" method="POST" enctype="multipart/form-data">
                    <div class="input-group file-browser">
                      <input type="text" class="form-control border-right-0 browse-file" placeholder="Subir imagen de perfil" readonly>
                      <label class="input-group-btn" style='background-color: #ffc813;
                      color: #313131;
                      outline: none;
                      border-radius: 8px;
                      border: none;'>
                        <span class="btn btn-primary">
                          Seleccionar <input type="file" name="files" style="display: none;">
                        </span>
                      </label>
                    </div>

                </div>
                <div class="modal-footer">
                  <input type="submit" class="btn ripple btn-primary" value="Subir imagen">
                  </form>
                  <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Cerrar</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Row -->
          <div class="row row-sm">
            <div class="col-lg-12 col-md-12">
              <div class="card custom-card main-content-body-profile">
                <div class="tab-content">
                 
                  <section class='hero_payments'>
                    <%- include('layautsDashboard/cards') %>
                  </section>
                </div>
              </div>
            </div>
          </div>
          <!-- End Row -->

        </div>
      </div>
    </div>
    <!-- End Main Content-->

    <!-- Foot -->
    <%- include('layautsDashboard/foot') %>

    <!-- Notificiaciones -->
    

  </div>
  <!-- End Page -->

  <!-- Footer -->
  <%- include('layautsDashboard/footer') %>

  <!-- Scripts Personalizados -->

  <% if(locals.mensajes) { %>
  <% const validacionErrores = Object.keys(locals.mensajes) %>
  <% if(validacionErrores.length) { %>

  <% locals.mensajes[validacionErrores].forEach(alerta => { %>

  <% if(validacionErrores == 'error') { %>
  <% title = 'Lo Sentimos!' %>
  <% } else if (validacionErrores == 'success') { %>
  <% title = 'Perfecto!' %>
  <% } %>

  <script>
    swal({
      title: "<%= title %>",
      text: "<%= alerta %>",
      type: "<%= validacionErrores %>",
      confirmButtonColor: '#57a94f'
    })
  </script>

  <% }); %>

  <% } %>
  <% } %>

  <script>
    const botonComprobante = document.getElementById("botonComprobante")
    const clipboard = new Clipboard('.copiarPortapapeles');
    
    
    const enviarComprobante= ()=>{
      const seleccion = document.getElementById("tipoPlataformaEdit").value
      axios({
          url: "/comprobante",
          method: "POST",
          data: {
            seleccion
          }

        }).then((res)=>{
          console.log(res.data)
          const respuesta = res.data
          
          if (respuesta.resp === "success") {
            
            swal(
                  {
                    title: respuesta.titulo,
                    text: respuesta.descripcion,
                    type: respuesta.resp,
                    confirmButtonColor: "#57a94f",
                    closeOnClickOutside: false,
                  },
                  function (isConfirm) {
                    if (isConfirm) {
                      location.href = "/ingreso";
                    }
                  }
                );
                
          }
          else{
            swal(
                  {
                    title: respuesta.titulo,
                    text: respuesta.descripcion,
                    type: respuesta.resp,
                  })
          }

        })
    }

    $("#password").keyup(function() {
      const input = document.getElementById('password');
      const passwordSeguro = /^(?=(?:.*\d))(?=.*[A-Z])(?=.*[a-z])(?=.*[.,*!?¿¡/#$%&])\S{10,20}$/;
      const alerta = document.getElementById('alertaPassword');

      if (passwordSeguro.test(input.value)) {
        alerta.innerHTML =
          `<div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Que bien!</strong> Contraseña valida.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>`;
        document.getElementById('btnEnviar').disabled = false;
      } else {
        alerta.innerHTML =
          `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Lo sentimos!</strong> Contraseña no valida, debe tener los siguientes parametros:
                        <ul class="mt-2 mb-0">
                            <li>Al menos un número 0-9</li>
                            <li>Al menos una mayúscula</li>
                            <li>Al menos una minúscula</li>
                            <li>Al menos un carácter especial (.,*!?¿¡/#$%&)</li>
                            <li>Longitud mínima de 10 caracteres, 20 máxima</li>
                            <li>No acepta espacios</li>
                        </ul>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>`;
        document.getElementById('btnEnviar').disabled = true;
      }
    });

    function verInput() {
      const password = document.getElementById("password");
      const tipo = password.type;

      if (tipo == 'text') {
        $('#iconoOjo').removeClass('fe-eye-off');
        $('#iconoOjo').addClass('fe-eye');
        password.type = 'password';
      } else {
        $('#iconoOjo').removeClass('fe-eye');
        $('#iconoOjo').addClass('fe-eye-off');
        password.type = 'text';
      }
    }

    function cambioPassword() {

      const newPassword = document.getElementById('password').value;

      $('#global-loader').addClass("d-block");
      $('#global-loader').removeClass("d-none");
      fetch('/dashboard/mi-perfil/cambiarPassword', {
          method: 'POST',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify({
            password: newPassword
          })
        })
        .then(res => res.text())
        .then(data => {
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          const respuesta = JSON.parse(data);
          if (respuesta.resp === 'success') {

            swal({
                title: respuesta.titulo,
                text: respuesta.descripcion,
                type: respuesta.resp,
                confirmButtonColor: '#57a94f',
                closeOnClickOutside: false
              },
              function(isConfirm) {
                if (isConfirm) {
                  location.reload();
                }
              });

          } else {

            swal({
              title: respuesta.titulo,
              text: respuesta.descripcion,
              type: respuesta.resp,
              confirmButtonColor: '#fd6074'
            })
          }
        }).catch(() => {
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          swal({
            title: 'Request Error',
            text: '500 - Mi perfil',
            type: 'error'
          });
        })
    }
  </script>