<%- include('layauts/header') %>

<body class="main-body leftmenu body-ingreso" style="background-color: #404040">
  <%- include('layauts/loader') %> <%- include('layauts/head') %>

  <!-- Page -->
  <!-- End Page -->

  <!-- Modal Cambiar valor en red -->

  <main class="main_ingreso">
    <article class="main_title">
      <h2>Inicio de sesión</h2>
    </article>
    <form action="/ingreso" method="POST">
      <div class="form-group text-left">
        <label>Usuario</label>
        <input
          class="form-control"
          name="user"
          placeholder="Escribe tu Usuario"
          type="text"
          style="
            border-radius: 14px;
            background-color: transparent;
            color: #7d6b31;
          "
        />
      </div>
      <div class="form-group text-left">
        <label>Email</label>
        <input
          class="form-control"
          name="email"
          placeholder="Escribe tu email"
          type="text"
          style="
            border-radius: 14px;
            background-color: transparent;
            color: #7d6b31;
          "
        />
      </div>
      <div class="form-group text-left position-relative">
        <label>Contraseña</label>
        <i
          class="fe fe-eye position-absolute ver-input"
          onclick="verInput()"
          id="iconoOjo"
        ></i>
        <input
          class="form-control"
          name="password"
          id="password"
          placeholder="Ingresa tu contraseña"
          type="password"
          style="
            border-radius: 14px;
            background-color: transparent;
            color: #7d6b31;
          "
        />
      </div>

      <% if(locals.mensajes) { %> <% var erroresIngreso =
      Object.keys(locals.mensajes) %> <% if(erroresIngreso.length) { %> <%
      locals.mensajes[erroresIngreso].forEach(alerta => { %> <%
      if(erroresIngreso == 'error') { %> <% erroresIngreso = 'danger' %> <% };
      %>

      <div
        class="alert alert-<%= erroresIngreso %> alert-dismissible fade show"
        role="alert"
      >
        <strong>Hola!</strong> <%= alerta %>.
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% }); %> <% } %> <% } %>

      <input
        type="submit"
        class="btn ripple btn-main-primary btn-block mt-4 capza_button"
        value="Registrarse"
      />
    </form>
    <div class="text-left mt-5 ml-0" style="margin-bottom: 60px">
      <div class="mb-1">
        <a
          data-effect="effect-flip-horizontal"
          data-toggle="modal"
          href="#recuperarPassword"
          >¿Se te olvidó tu contraseña?</a
        >
      </div>
      <div class="lostPassword">
        ¿No tienes una cuenta?
        <a href="/registro">Registrarse aquí</a>
      </div>
    </div>
  </main>

  <%- include('layauts/footer') %>
  <footer class="footer_ingreso">
    <figure>
      <img src="assetsDashboard/img/iconYellow.svg" alt="" />
    </figure>
  </footer>
  <script>
    function verInput() {
      const password = document.getElementById("password");
      const tipo = password.type;

      if (tipo == "text") {
        $("#iconoOjo").removeClass("fe-eye-off");
        $("#iconoOjo").addClass("fe-eye");
        password.type = "password";
      } else {
        $("#iconoOjo").removeClass("fe-eye");
        $("#iconoOjo").addClass("fe-eye-off");
        password.type = "text";
      }
    }

    function recuperarPassword(e) {
      const emailRecuperar = document.getElementById("emailRecuperar").value;

      fetch("/ingreso/recuperarPassword", {
        method: "POST",
        headers: { "Content-type": "application/json" },
        body: JSON.stringify({
          emailRecuperar: emailRecuperar,
        }),
      })
        .then((res) => res.text())
        .then((data) => {
          const respuesta = JSON.parse(data);
          if (respuesta.resp === "success") {
            swal(
              {
                title: respuesta.titulo,
                text: respuesta.descripcion,
                type: respuesta.resp,
                confirmButtonColor: "#57a94f",
                closeOnClickOutside: false,
              },
              function (isConfirm) {
                if (isConfirm) {
                  location.reload();
                }
              }
            );
          } else {
            swal({
              title: respuesta.titulo,
              text: respuesta.descripcion,
              type: respuesta.resp,
              confirmButtonColor: "#fd6074",
            });
          }
        });
    }
  </script>
</body>
