<%- include('layauts/header') %>

<body class="main-body leftmenu body-ingreso" style="background-color: #404040">
  <%- include('layauts/loader') %> <%- include('layauts/head') %>

  <!-- Page -->
  <!-- End Page -->

  <!-- Modal Cambiar valor en red -->

  <main class="main_ingreso">
    <article class="main_title">
      <h2>Registrarse</h2>
    </article>
    <div>
      <div class="form-group text-left">
        <label>Usuario</label>
        <input
          class="form-control"
          name="user"
          placeholder="Escribe tu Usuario"
          type="text"
          style="
            border-radius: 14px;
            background-color: transparent;
            color: #7d6b31;
          "
          id='enviarUser'
        />
      </div>
      <div class="form-group text-left">
        <label>Email</label>
        <input
          class="form-control"
          name="email"
          placeholder="Escribe tu email"
          type="text"
          style="
            border-radius: 14px;
            background-color: transparent;
            color: #7d6b31;
          "
          id='emailRecuperar'
        />
      </div>
      <div class="form-group text-left position-relative">
        <label>Contraseña</label>
        <i
          class="fe fe-eye position-absolute ver-input"
          onclick="verInput()"
          id="iconoOjo"
        ></i>
        <input
          class="form-control"
          name="password"
          id="enviarPassword"
          placeholder="Ingresa tu contraseña"
          type="password"
          style="
            border-radius: 14px;
            background-color: transparent;
            color: #7d6b31;
          "
        />
      </div>

      <% if(locals.mensajes) { %> <% var erroresIngreso =
      Object.keys(locals.mensajes) %> <% if(erroresIngreso.length) { %> <%
      locals.mensajes[erroresIngreso].forEach(alerta => { %> <%
      if(erroresIngreso == 'error') { %> <% erroresIngreso = 'danger' %> <% };
      %>

      <div
        class="alert alert-<%= erroresIngreso %> alert-dismissible fade show"
        role="alert"
      >
        <strong>Hola!</strong> <%= alerta %>.
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% }); %> <% } %> <% } %>
      <div class='botonesInferiores'>
        <input type="text" name="" id="partner" class='botonesInferiores_partner' 
        placeholder='¿Tienes un codigo de referido?'>
        <input
          type="submit"
          class="btn ripple btn-main-primary btn-block mt-4 capza_button"
          value="Registrarse"
          onclick='enviarRegisto()'
        />
      </div>
      
    </form>
    <div class="text-left mt-5 ml-0" style="margin-bottom: 60px">
      <div class="mb-1">
        <a href="/recuperar">¿Se te olvidó tu contraseña?</a>
      </div>
      <div class="lostPassword">
        Tienes una cuenta
        <a href="/ingreso">Ingresa aquí</a>
      </div>
    </div>
  </main>

  <%- include('layauts/footer') %>
  <footer class="footer_ingreso">
    <figure>
      <img src="assetsDashboard/img/iconYellow.svg" alt="" />
    </figure>
  </footer>
  <script>
    const globalLoader = document.getElementById("global-loader")
    function verInput() {
      const password = document.getElementById("password");
      const tipo = password.type;

      if (tipo == "text") {
        $("#iconoOjo").removeClass("fe-eye-off");
        $("#iconoOjo").addClass("fe-eye");
        password.type = "password";
      } else {
        $("#iconoOjo").removeClass("fe-eye");
        $("#iconoOjo").addClass("fe-eye-off");
        password.type = "text";
      }
    }
    

    function enviarRegisto() {   
      globalLoader.className = "d-block"
      const email = document.getElementById("emailRecuperar").value;
      const password = document.getElementById("enviarPassword").value;
      const usercito = document.getElementById("enviarUser").value;
      const partner = document.getElementById("partner").value
      const digito = Math.round(Math.random() * (999 - 0) + 0);
      const replacer = new RegExp(" ", "g");
      const enlace = usercito.replace(replacer, "-").toLowerCase();
      const enlace_afiliado = enlace + "-" + digito;
      
      console.log(`${email} ${password} ${usercito}`)
      var mail_format = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

      if(!mail_format.test(email)){
        swal({
          title: "upsi",
          text: "El email no tiene un formato valido",
          type: "warning",
        })
      }


      if (email.length < 5 ||
       password.length < 5 ||
       usercito.length < 10 ||
       email === "" ||
       password === ""||
       usercito === "") {
        swal({
          title: "Error en los campos",
          text: "Los campos deben tener un ancho de mas de 5 caracteres",
          type: "warning",
        })
        globalLoader.classList.remove("d-block")
      }else{
        axios({
          url: "/register-user",
          method: "POST",
          data: {
            email,
            password,
            usuarios: usercito,
            partner,
            enlace_afiliado
          }

        }).then((res)=>{
          globalLoader.classList.remove("d-block")
          console.log(res.data)
          const respuesta = res.data
          
          if (respuesta.resp === "success") {
            
            swal(
                  {
                    title: respuesta.titulo,
                    text: respuesta.descripcion,
                    type: respuesta.resp,
                    confirmButtonColor: "#57a94f",
                    closeOnClickOutside: false,
                  },
                  function (isConfirm) {
                    if (isConfirm) {
                      location.href = "/ingreso";
                    }
                  }
                );
                
          }
          else{
            swal(
                  {
                    title: respuesta.titulo,
                    text: respuesta.descripcion,
                    type: respuesta.resp,
                  })
          }

        })
      }
 
};

document.getElementById("hola").addEventListener("click", hola)

    
    
  </script>
</body>
